@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand";

}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #281c1f;
}

.helloWorld {
	width: 400px;
	background: #46383a;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.helloWorld h1 {
	background: #281c1f;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	/*color: #ec407a;*/
	color: #f1e66d;
	text-align: center;
	margin-bottom: 10px;
}

.helloWorld span {
	color: antiquewhite;
	font-size: 14px;
}